

.hr1{margin-top: 40px;}
.hr2{margin-top: 60px;}
.hr3{margin-top: 55px;}
.hr5{margin-top: 60px}
.logo{width: 60px;}
.hr4{}
.top {}
.logo {}


.ce {
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 100px;
}
.book{
    width: 40px;
    position: absolute;
    top:195px;
    left: 90px;
}
.mod_jm{
    position: absolute;
    top: 200px;
    left: 140px;
    border-left: 3px solid #3498db;  /* 左边框 = 竖线 */
    padding-left: 15px;              /* 线和文字的距离 */
}


.mod_jmcd{
    position: absolute;
    top: 200px;
    left: 500px;
    border-left: 3px solid navy;  /* 左边框 = 竖线 */
    padding-left: 15px;              /* 线和文字的距离 */

}
.mod_kscd{
    position: absolute;
    top: 260px;
    left: 500px;
    border-left: 3px solid navy;  /* 左边框 = 竖线 */
    padding-left: 15px;              /* 线和文字的距离 */

}


.mod_ks{
    position: absolute;
    top: 260px;
    left: 140px;
    border-left: 3px solid #3498db;  /* 左边框 = 竖线 */
    padding-left: 15px;              /* 线和文字的距离 */
}
.book2{
    width: 40px;
    position: absolute;
    top:250px;
    left: 90px;
}
.sign{
    width: 40px;
    position: absolute;
    top: 380px;
    left: 94px;
}
.h_notice{
    position: absolute;
    top: 380px;
    left: 500px;
    border-left: 3px solid orange;  /* 左边框 = 竖线 */
    padding-left: 15px;
}
.notice{
    position: absolute;
    top: 380px;
    left: 140px;
    border-left: 3px solid #3498db;  /* 左边框 = 竖线 */
    padding-left: 15px;
}
.book3{
    width: 40px;
    position: absolute;
    top:460px;
    left: 90px;
}
.zxyy{
    position: absolute;
    top: 460px;
    left: 140px;
    border-left: 3px solid #3498db;  /* 左边框 = 竖线 */
    padding-left: 15px;              /* 线和文字的距离 */
}